{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <p>{{ form.email|as_crispy_field }}</p>
                <button class="btn btn-primary d-block w-50 m-auto" type="submit">Reset password</button>
            </form>
        </section>
    </main>
{% endblock %}