{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
<main class="page hire-me-page">
    <section class="portfolio-block">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                {% if error %}
                    <div class="mb-3 text-center"><p style="color: darkred">{{ error }}</p></div>{% endif %}
                <div class="mb-5"><label class="form-label" for="username">Username</label><input class="form-control"
                                                                                                  type="text"
                                                                                                  name="username"
                                                                                                  id="username"></div>
                <div class="mb-3"><label class="form-label" for="password">Password</label><input class="form-control"
                                                                                                  type="password"
                                                                                                  name="password"
                                                                                                  id="password"></div>
                <div class="mb-3 text-center">
                    <button class="btn btn-primary d-block w-50 m-auto" type="submit">Login</button><br>
                    <a href="{% url 'accounts:register' %}">Click here to create an account</a><br>
                    <a href="{% url 'password_reset' %}">Forgot your password?</a>
                </div>
            </form>
        </div>
    </section>
</main>
<script src="{% static 'blog/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
</body>
</html>